body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 1000px;
  margin: 0 auto;
  background-image: linear-gradient( 95.2deg, #f5f7fa 26.8%, #c3cfe2 64% );
}

.name {
  display: flex;
  height: 50px;
}

.block {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  gap: 10px;
}

.or-block {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 15px;
  margin-left: 60px;
  margin-top: 2px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}